* {
    scrollbar-width: none;
}

/* Mobile */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    /* height: 60vh; */
    gap: 15px;

}

.title {

    h1 {
        font-size: max(3.2vw, 1.7rem);
        font-weight: 600;
    }
}

.col1 {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 230px;
}

.title {
    width: 70%;
    background-color: azure;
    padding: max(1rem, 3vw);
}

.h2{
    font-size: max(2.5vw, 1.5rem);
    font-weight: 600;
    text-align: center;
    margin-block: 80px;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    .cat-card {
        padding: 20px;
        background-color: aliceblue;

        h3{
            font-size: min(1.5rem, 5vw);
        }
    }

    .cat-card:hover {
        background-color: rgb(214, 240, 240);
    }

}

.ads {
    display: flex;
    overflow-x: scroll;
    gap: 10px;

    .ad-card {
        padding: 15px;
        border-radius: 10px;

        img {
            width: 265px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }

}



/* Tablet */
@media (width > 600px) {}


/* Desktop */
@media (width > 768px) {

    .hero {
        display: grid;
        grid-template-columns: 5fr 7fr;
        min-height: 65vh;
    }


    .title p {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }


}