* {
    scrollbar-width: none;
}

/* Mobile */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    
    height: 65vh; 

   .img{
     display: flex;
     justify-content: center;
     align-items: center;
     
      
     img{
        width: 90%;
        max-height: 220px;
     }
   }
}

.col1 { 
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 70%;
    background-color: azure;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 30px;

    .cat-card {
        padding: 25px; 
        background-color: aliceblue;
    }

    .cat-card:hover {
        background-color: azure;
    }
}

.ads {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 20px;

    .ad-card {
        padding: 15px;
        border-radius: 10px;

        img {
            width: 265px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }

}



/* Tablet */
@media (width > 600px) {}


/* Desktop */
@media (width > 768px) {

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 90vh;
    }

    .title h1 {
        font-size: 7vh;
        font-weight: 600;
    }

    .title p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

       

    }

    .ads{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .ad-card{
            img{
                width: 100%;
            }
        }
    }


}